html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-color: #f2f2f2;
  font-family: "RobotoDraft", "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
}

#root {
  height: 100%;
}
